*{
    font-family: 'Mulish', sans-serif; 
    margin: 0;
}

:root{
    --dark:#182335;
    --subheading: 'Lora', serif;
    --headig: 'Merriweather', serif;
    --white: #FFFFFF;
    --red:#E15546;
    --beige: #EAE4CC;
    --lightred: #EEAF9D;
}
.dashboard-image-wrapper .image-list{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10, 1fr);
}
.dashboard-image-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}

/* modals */
.booking-history-modal,
.current-booking-modal{
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 99999999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 10px;
  }
  .booking-history-content,
  .current-booking-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 50%;
    
  }
  .booking-history-content{
    width: 40%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {

    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .history-form h2,
  .current-book-form h2{
    padding: 1%;
    font-family: var(--subheading);
  }
  .history-form,
  .current-book-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }
  .history-form table,
  .current-book-form table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .history-form table th,
  .current-book-form table th{
    text-align: left;
    background-color: var(--dark);
    padding: 1%;
    color: var(--white);
  }
  .history-form table td,
  .current-book-form table td{
    text-align: left;
    padding: 1%;
    border-bottom: 1px solid #EAE4CC;
  }

  .current-btn button{
    padding: 5%;
    background-color: var(--red);
    border: none;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
  }
  .current-btn button:hover{
    background-color: var(--dark);
    color: var(--white);
  }

  .user-dasboard-container{
    background: rgba(238, 175, 157, 0.25);
    padding-bottom:1% ;
    display: block;
  }
  .user-db-head{
    padding-top: 8%;
    padding-inline: 10%;
    display: flex;
    justify-content: center;

  }

  .user-db-head ul{
    display: flex;
    flex-direction: column;
   
  }
 .user-db-head ul li hr{
    width: 70%;
    height: 0;
    border-radius: 2px solid ;
  }
  .user-db-head ul li h1{
    font-size: 40px;
    font-weight: lighter;
    font-family: var(--subheading);
  }
  .user-db-head ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .user-db-head ul li p{
    font-size: 20px;

    }

    .slideshow-container {
      max-width: 80%;
      position: relative;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5rem;
  }
  
  /* The slides */
  .mySlides {
      text-align: center;
      width: 100%;
      padding-top: 4%;
      display: flex;
      align-items: center;
  }
  
  .mySlides img {
      width: 100%;
      height: 400px;
      display: inline-block;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
  }
  
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;    
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: var(--white);
      font-weight: bold;
      font-size: 30px;
      transition: 0.6s ease;
      border-radius: 5px;
      user-select: none;
      background-color: var(--dark);
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px;
      
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: var(--red);
      color: var(--white);
    }
  
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background-color: var(--lightred);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: var(--dark);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }



    /* dining user dashboard */
    .dining-user-dashboard{
      padding: 2%;
      padding-inline: 5%;
      display: flex;
      justify-content: center;
    }
    .user-dining-left ul li h1{
      font-size: 36px;
      font-weight: lighter;
      font-family: var(--subheading);
      
    }
    .user-dining-left ul li{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    
    }
    .user-dining-left ul li p{
      font-size: 25px;
      font-family: var(--subheading);
    }
    .user-dining-left ul{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .user-dining-left ul li hr{
      height: 0;
      width: 50%;
      border: 2px solid;
      border-radius: 10px;
    }
    .user-dining-left ul .left-btn{
      display: flex;
      justify-content: flex-end;
    }
    .user-dining-left ul .left-btn a{
      text-decoration: none;
      padding: 1%;
      background-color: var(--red);
      color: var(--white);
      border-radius: 5px;
      font-size: 25px;
      font-family: var(--subheading);
    }
    .dining-content{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      align-items: center;
    }
    .dining-left-images{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  .user-dining-right img{
    width: 100%;
    height: 60vh;
  }
  .left-images{
    position: relative;
  }
 
  .left-img-content {
    width: 400px;
    height: 7vh;
    background-color: rgb(24, 35, 53, .5);
    position: absolute;
    bottom: 5px;
    
  }
 .left-img-content p{
    position: absolute;
    color: white;
    margin-top: 3vh;
    margin-left: 4vh;
  }
  .user-dining-right{
    position: relative;
  }
  .user-dining-right .right-content ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .user-dining-right .right-content ul li{
    list-style: none;
    color: var(--white);
  }
  .user-dining-right .right-content ul li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--dark);
    padding: 1%;
    background-color: var(--white);
    width: 180px;
    text-align: center;
    font-family: var(--subheading);
    border-radius: 5px;
  }
  .right-content{
    position: absolute;
    bottom: 5px;
    background-color: rgb(24, 35, 53, .5);
    padding: 5%;
  }
  .right-content ul .right{
    display: flex;
    justify-content: flex-end;
  }

  /* user spa container */
  .user-spa-container{
    background: rgba(238, 175, 157, 0.25);
    padding: 3%;
  }
  .user-spa-container .top-spa-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .top-spa-content .left-spa ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
  }
  .top-spa-content .left-spa ul li h2{
    font-size: 25px;
    font-weight: lighter;
    font-family: var(--subheading);
  }
  .top-spa-content .left-spa ul li p{
    font-size: 20px;
    font-family: var(--subheading);
  }
  .top-spa-content .left-spa ul li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--dark);
    padding: 1%;
    background-color: var(--white);
    width: 180px;
    text-align: center;
    font-family: var(--subheading);
    border-radius: 5px;
  }
  .top-spa-content .left-spa ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .top-spa-content .left-spa ul li h1{
    font-size: 36px;
    font-weight: lighter;
    font-family: var(--subheading);
  }
  .top-spa-content .left-spa ul li hr{
    width: 40%;
    border: 2px solid;
    border-radius: 10px;
  }
  .top-spa-content .right-spa img{
    width: 100%;
    height: 100%;
  }

  .below-spa-content{
    display: flex;
    justify-content: center;
  }
  .below-spa-content .spa-images{
    gap: 3rem;
    display: flex;
    justify-content: space-evenly;

  }

   /* user facilities container */
  .user-facilities-container h1{
    padding: 2%;
    font-size: 36px;
    font-weight: lighter;
    font-family: var(--subheading);
  }
  .user-facilities-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .user-facilities-container ul hr{
    width: 25%;
    border: 2px solid;
    border-radius: 10px;
  }

  .user-facilities-container .facilities-image{
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
  }
  .facilities-content{
    position: relative;
  }
  .facilities-hover{
    display: none; /* Hide the facilities-hover div by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    text-align: justify;
    transition: opacity 0.3s ease;
    line-height: 2rem;
  }
  .facilities-hover a{
    text-decoration: none;
    font-size: 15px;
    color: var(--dark);
    background-color: var(--white);
    text-align: center;
    font-family: var(--subheading);
    padding: 2px;
    padding-inline: 10%;
  }
  .facilities-content:hover .facilities-hover {
    display: block; 
  }
  .facilities-content:hover img {
    opacity: 0.7;
    filter: brightness(50%); 
  }


  .whychooseus{
    padding: 5%;
    display: block;
    background: rgba(238, 175, 157, 0.15);
}
.choose-content h3{
    padding-inline: 10%;
    font-size: 25px;
    font-family: var(--subheading);
    font-weight: lighter;
}
.choose-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.choose-content .line{
    width: 500px;
    border: 2px solid;
    display: flex;
    justify-content: flex-start;
    margin-left: -8%;
    border-radius: 10px;
    border-color: var(--light-red);
}
.choose-service{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10%;
    padding-top: 3%;
    row-gap: 5rem;
}
.service-icon{
    width: 250px;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.5);
    flex-direction: column;
    gap: 1rem;
    transition: padding 0.3s ease;
}
.service-icon i{
    font-size: 60px;
}
.service-icon p{
    font-size: 15px;
}
.service-icon:hover{
    background-color: var(--dark);
    color: var(--white);
    padding: calc(.3% + 3 px);
}

/* 
footer */
footer{
  background-color: var(--dark);
  padding: 1%;
}

.top-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-footer .logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-footer .logo-footer h2{
  color: var(--white);
  font-weight: lighter;
  font-family: var(--subheading);
}

.nav-info-footer h1{
  font-size: 30px;
  color: var(--white);
  font-family: var(--subheading);
  padding: 1%;
}
.nav-info-footer .nav-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;padding-top: 10%;
}
.nav-info-footer .nav-footer p{
  font-size: 20px;
  color: var(--white);
  font-family: var(--subheading);
}
.top-footer .link-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.top-footer .link-footer h1{
  color: var(--white);
  padding: 5%;

}
.top-footer .li-footer{
  display: flex;
  gap: 4rem;
}
.top-footer .link-footer i{
  font-size: 40px;
  color: var(--white);
  border: 1px solid #FFFFFF;
  padding: 5%;
  border-radius: 50%;
}




